body {
  width: 100%;

  table, th, td {
    width: 4rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
  }
  th {
    background: lightblue;
    border-color: white;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}
  tr:hover {background-color: bisque;}

  .Page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Control-Panel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1em;
      height: 38px;
      
      .Driver-Schedule {
        display: flex;
        justify-content: inherit;
        .card-header {
          display: flex;
          align-items: center;
        }
        .form-control{
          width: 105px;
        }
      }
      
      .Week-Toggle {
        display: flex;
        align-items: center;
        .card-header {
          height: 38px;
          display: flex;
          align-items: center;
        }
      }

      .Download-Schedule {
        display: flex;
      }
    }

    .Task-And-Timetable {
      display: flex;
      justify-content: space-between;
      margin: 1em;
      flex-direction: row;
      
      .Add-Task {
        display: flex;
        flex-direction: column;
      }

      .Driver-Timetable {
        display: flex;
        flex-direction: column;
      }
    }
  }
}